page-onboarding {
    .background {
      background-image: linear-gradient(#2f007b, #8e2dfd);
      display: flex;
      justify-content: center;
      align-items: center;
      //    flex-direction: column;
      height: 100%;
      width: 100%;
    }
    .wave {
      position: absolute;
      height: 100%;
      width: 300%;
      background-image: url("../../assets/icon/waves.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      // z-index: 1;
    }
  //   .cardcenter {
  //     height: 70vh;
  //     width: 70%;
  // }
  .background {
    background-image: linear-gradient(#2f007b, #8e2dfd);
    display: flex;
    justify-content: center;
    align-items: center;
    //    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .wave {
    position: absolute;
    height: 100%;
    width: 300%;
    background-image: url("../../assets/icon/waves.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // z-index: 1;
  }
  .cardcenter {
    height: 70vh;
    width: 70%;
.background {
  background-image: linear-gradient(#2f007b, #8e2dfd);
  display: flex;
  justify-content: center;
  align-items: center;
  //    flex-direction: column;
  height: 100%;
  width: 100%;
}
.wave {
  position: absolute;
  height: 100%;
  width: 300%;
  background-image: url("../../assets/icon/waves.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // z-index: 1;
}
.cardcenter {
  height: 65vh;
  width: 70%;
  // display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 15px 20px -15px #000;
  z-index: 2;
}
.cardimg {
  //height: 30em;
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 2;
}
.cardcontent {
  height: 50%;
  width: 100%;
  z-index: 2;
}
.slide1 {
  z-index: 2;
}
.slide2 {
  display: none;
  z-index: 2;
}
.slide3 {
  display: none;
  z-index: 2;
}
.button-round-md {
  border-radius: 64px;
  padding: 0 2.6rem;
  margin: 0 auto;
  display: flex;
}
.button-round-ios {
  border-radius: 64px;
  padding: 0 2.6rem;
  margin: 0 auto;
  display: flex;
}
.nextflex {
  display: flex;
}
.pager {
  display: flex;
}
.endbtn {
  border-radius: 64px;
  padding: 0 2.6rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 7em;
}

@media only screen and (max-width: 414px) {
  .cardcenter {
    height: 78vh;
    width: 90%;

    // display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 15px 20px -15px #000;

    z-index: 2;
  }
  .cardimg {
    //height: 30em;
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 2;
  }
  .cardcontent {
    height: 50%;
    width: 100%;
    z-index: 2;
  }
  .slide1 {
    z-index: 2;
  }
  .slide2 {
    display: none;
    z-index: 2;
  }
  .slide3 {
    display: none;
    z-index: 2;
  }
  .button-round-md {
    border-radius: 64px;
    padding: 0 2.6rem;
    margin: 0 auto;
    display: flex;
  }
  .button-round-ios {
    border-radius: 64px;
    padding: 0 2.6rem;
    margin: 0 auto;
    display: flex;
  }
  .nextflex {
    display: flex;
  }
  .pager {
    display: flex;
  }
  .endbtn {
    border-radius: 64px;
    padding: 0 2.6rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 7em;
  }

  @media only screen and (max-width: 414px) {
    .cardcenter {
      height: 78vh;
      width: 90%;
      // display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      border-radius: 15px;
      box-shadow: 0px 15px 20px -15px #000;
    }
  }
  
}
    


  }
}

