page-login-register {
//     .header{
//         width: 100%;
//         height: 10%;
//         background-color: #ffffff;
//         z-index: 2;
//         margin: 0%;
//         padding: 0%
//         // position: absolute
//     }
//     .footer{
//         width: 100%;
//         height: 80%;
//         //background-color: #8d8d8d;
//         z-index: 2;
//         margin: 0%;
//         padding: 0%;
//         background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/imgs/Screenshot\ 2019-07-04\ at\ 08.11.36.png');
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: cover;
//     }
//     .footer {
//         -webkit-animation: footer 10s ease-out both;
//                 animation: footer 10s ease-out both;
//     }
// @-webkit-keyframes footer {
//     0% {
//       -webkit-transform: scale(1) translateY(0);
//               transform: scale(1) translateY(0);
//       -webkit-transform-origin: 50% 16%;
//               transform-origin: 50% 16%;
//     }
//     100% {
//       -webkit-transform: scale(1.25) translateY(-15px);
//               transform: scale(1.25) translateY(-15px);
//       -webkit-transform-origin: top;
//               transform-origin: top;
//     }
//   }
//   @keyframes footer {
//     0% {
//       -webkit-transform: scale(1) translateY(0);
//               transform: scale(1) translateY(0);
//       -webkit-transform-origin: 50% 16%;
//               transform-origin: 50% 16%;
//     }
//     100% {
//       -webkit-transform: scale(1.25) translateY(-15px);
//               transform: scale(1.25) translateY(-15px);
//       -webkit-transform-origin: top;
//               transform-origin: top;
//     }
//   }
  
//     .container{
//         width: 100%;
//         height: 100%;
//         background: rgb(255, 255, 255);
//         //background-image: url('../../assets/imgs/South-African-Parliament-AT-1030x691.jpg');
//         //background-image: url('../../assets/imgs/1522-removebg-preview.png');
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: cover;
//         //filter: blur(5px);
//         z-index: 1;
//         position: absolute
//     }
//     .logotext{
//         // padding-top: 10%;
//         // position: relative;
//         // top: -4%;
//         // left: 50%;
//         // transform: translate(-50%,-50%);
//     }
//     .logo{
//         height: 10em;
//         width: 10em;
//         position: relative;
//         top: 10%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         z-index: 2;
//     }
//     .logotop{
//         margin: 0 auto;
//         height: 6.5em;
//         width: 7em;
//         position: absolute;
//         top: 6%;
//         left: 4%;
//         transform: translate(-50%,-50%);
        
//     }
//     #login-content{
//         width: 65%;
//         height: 65%;
//         background: rgb(255, 255, 255);
//         position: relative;
//         top: 56%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         display: flex;
//         border-radius: 25px;
//         z-index: 2;
//         //opacity: 0.8;

//     }
//     .right{
//         width: 60%;
//         height: 100%;
//         background-color: whitesmoke;
//         z-index: 2;
//     }
//     .left{
//         width: 40%;
//         height: 100%;
//         background-color: #00bd55;
//         z-index: 2;
//     }
//     .leftcontent{
   
//         position: relative;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         z-index: 2;
//     }
//     .Register{
//         position: relative;
//         top: 30%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         z-index: 2;
//         //display: initial
//     }
//     .inputs{
//         border-radius: 100px;
//         box-shadow: 0px 15px 20px -15px #111; 
//     }
//     .lefttext{
//         color: white
//     }

    






//     #login-contentL{
//         width: 65%;
//         height: 66%;
//         background: rgb(255, 255, 255);
//         position: absolute;
//         top: 58%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         display: flex;
//         border-radius: 25px;
//         z-index: 2;
//     }
//     .rightL{
//         width: 40%;
//         height: 100%;
//         background-color: #00bd55;
        
       
//     }
//     .leftL{
//         width: 60%;
//         height: 100%;
//         background-color: whitesmoke;
        
//     }
//     .leftcontentL{
//         position: relative;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         z-index: 2;
//     }
//     .RegisterL{
//         position: relative;
//         top: 30%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         z-index: 2;
//     }
//     .inputs{
//         border-radius: 100px;
//         box-shadow: 0px 15px 20px -15px #111; 
//     }
//     .lefttext{
//         color: white
//     }


//     @media only screen and (max-width: 414px) {
//         .header{
//             width: 100%;
//             height: 15%;
//             background-color: #ffffff;
//             z-index: 2;
//             margin: 0%;
//             padding: 0%;
//            display: none
//         }
//         .footer{
//             width: 100%;
//             height: 85%;
//             z-index: 2;
//             margin: 0%;
//             padding: 0%;
//             background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../../assets/imgs/Screenshot\ 2019-07-04\ at\ 08.11.36.png');
//             background-position: center;
//             background-repeat: no-repeat;
//             background-size: cover;
//         }
//         #login-contentL{
//             width: 100%;
//             height: 100%;
//             background: rgb(255, 255, 255);
//             position: absolute;
//             top: 50%;
//             left: 47%;
//             transform: translate(-50%,-50%);
//             display: flex;
//             flex-direction: column;
//              border-radius: 0px;
//             z-index: 2;
//             //opacity: 0.8;
    
//         }
//         .rightL{
//             width: 100%;
//             height: 20%;
//             background-color: #00bd55;
            
//             z-index: 2;
//         }
//         .leftL{
//             width: 100%;
//             height: 80%;
//             background-color: whitesmoke;
//             z-index: 2;
//         }
//         .leftcontentL{
//             //width: 80%;
//             //height: 80%;
//             position: relative;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%,-50%);
//             z-index: 2;
//         }
//         .RegisterL{
//             position: relative;
//             top: 30%;
//             left: 50%;
//             transform: translate(-50%,-50%);
//             z-index: 2;
//         }
//         .inputs{
//             border-radius: 100px;
//             box-shadow: 0px 15px 20px -15px #111; 
//         }
//         .lefttext{
//             color: white
//         }


//         #login-content{
//             width: 100%;
//             height: 100%;
//             background: rgb(255, 255, 255);
//             position: relative;
//             top: 48%;
//             left: 47%;
//             transform: translate(-50%,-50%);
//             display: flex;
//             flex-direction: column;
//              border-radius: 0px;
//             z-index: 2;
//             //opacity: 0.8;
    
//         }
//         .right{
//             width: 100%;
//             height: 80%;
//             background-color: whitesmoke;
//             z-index: 2;
//         }
//         .left{
//             width: 100%;
//             height: 20%;
//             background-color: #00bd55;
//             z-index: 2;
//         }
//         .leftcontent{
//             position: relative;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%,-50%);
//             z-index: 2;
//         }
//         .Register{
//             position: relative;
//             top: 30%;
//             left: 50%;
//             transform: translate(-50%,-50%);
//             z-index: 2;
//         }
//         .inputs{
//             border-radius: 100px;
//             box-shadow: 0px 15px 20px -15px #111; 
//         }
//         .lefttext{
//             color: white
//         }
//       }

//<!---------------------------------------------------------------------------------------------------------------------------------------------------------------->
.cover{
    background-color: #dfde80; 
}
.background{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #dfde80;

}
.left{
    height: 100%;
    width: 100%;
    background-color: #dfde80;
    padding-top: 10%;
    z-index: 2;
}
.right{
    height: 100%;
    width: 100%;
    background-color: rgb(230, 230, 230);
    //background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../../assets/imgs/South-African-Parliament-AT-1030x691.jpg');
    //background-image: url('../../assets/imgs/South-African-Parliament-AT-1030x691.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.logo{
    height: 25%;
    width: 25%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create{
    width: 50%
}
.forgot{
    width: 50%
}
.bottombtn{
    display: flex;
    flex-direction: row;
}
.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
  }
  .border{
      border: 1rem solid white;
      height: 45%;
      width: 90%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
  }
  .signup{
      display: none
  }
  .test{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/imgs/South-African-Parliament-AT-1030x691.jpg');
    //background-image: url('../../assets/imgs/South-African-Parliament-AT-1030x691.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: absolute
  }
  .test {
            -webkit-animation: test 5s ease-out reverse;
                    animation: test 5s ease-out reverse;
        }
    @-webkit-keyframes test {
        0% {
          -webkit-transform: scale(1) translateY(0);
                  transform: scale(1) translateY(0);
          -webkit-transform-origin: 50% 16%;
                  transform-origin: 50% 16%;
        }
        100% {
          -webkit-transform: scale(1.1) translateY(-15px);
                  transform: scale(1.1) translateY(-15px);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
      @keyframes test {
        0% {
          -webkit-transform: scale(1) translateY(0);
                  transform: scale(1) translateY(0);
          -webkit-transform-origin: 50% 16%;
                  transform-origin: 50% 16%;
        }
        100% {
          -webkit-transform: scale(1.1) translateY(-15px);
                  transform: scale(1.1) translateY(-15px);
          -webkit-transform-origin: top;
                  transform-origin: top;
        }
      }
      





      @media only screen and (max-width: 414px) {
        .background{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        
        }
        .left{
            height: 100%;
            width: 100%;
            background-color: rgb(223, 222, 128);
            padding-top: 0%;
            z-index: 2;
        }
        .right{
            height: 100%;
            width: 100%;
            background-color: rgb(230, 230, 230);
            //background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../../assets/imgs/South-African-Parliament-AT-1030x691.jpg');
            //background-image: url('../../assets/imgs/South-African-Parliament-AT-1030x691.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
            display: none;
        }
        #or{
            display: none
        }
        .logo{
            height: 25%;
            width: 40%;
            margin-top: 10%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
      }

}
