page-login-register {
    .cover{
        background-color: whitesmoke; 
    }
    .logininputdiv{
        width: 60%; 
        margin: 0 auto;
     
    }
    .login{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .signup{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .background{
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 80%;
        background-color: lavenderblush; 
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 15px 30px -15px rgb(0, 0, 0); 
        border-radius: 15px;
        
    }
    .text-input-md {
        margin: 13px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px);
        box-shadow: 0px 15px 30px -15px rgb(0, 0, 0);
    }
    .left{
        height: 100%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding-top: 10%;
        z-index: 2;
        border-bottom-left-radius: 15px; 
        border-top-left-radius: 15px;
        padding: 100px ;
    }
    .right{
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        //background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../../assets/imgs/South-African-Parliament-AT-1030x691.jpg');
        //background-image: url('../../assets/imgs/South-African-Parliament-AT-1030x691.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-right-radius: 15px; 
        border-top-right-radius: 15px;
        z-index: 2;
       
        
    }
    .cardright{
        height: 80%;
        width: 50%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px
        
    }
    .cardrightimg{
        height: 40%;
        //width: 50%
    }
    .cardrightcontent{
        height: 60%;
        //width: 50%
    }
    .cardcenter{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-content: center
        // position: relative;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }
    .logo{
        height: 25%;
        width: 25%;
        //margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .create{
        width: 50%
    }
    .forgot{
        width: 50%
    }
    .bottombtn{
        display: flex;
        flex-direction: row;
    }
    .hero-text {
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 2;
      }
      .border{
          border: 1rem solid white;
          height: 45%;
          width: 40%;
          position: absolute;
          top: 50%;
          left: 75%;
          transform: translate(-50%, -50%);
          z-index: 2;
      }
      .signup{
          display: none
      }
      .test{
        height: 100rem;
        width: 100rem;
        background-color: #2a0961;
        z-index: 1;
        position: absolute;
        top: -20%;
        left: 70%;
        transform: translate(-50%, -50%);
        border-bottom-right-radius: 15px; 
        border-radius: 50px;
        transform: rotate(45deg);
        z-index: -1;
      }
      .test1{
        height: 100rem;
        width: 100rem;
        background-color: rgba(82, 29, 167, 0.7);
        z-index: 1;
        position: absolute;
        top: -33%;
        left: 72%;
        transform: translate(-50%, -50%);
        border-bottom-right-radius: 15px; 
        border-radius: 50px;
        transform: rotate(45deg);
        z-index: -1;
      }
      .scroll-content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        display: block;
        overflow-x: hidden;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
    }
    .list-md {
        margin: -1px 0 26px;
    }
    .inputs{
        //border-radius: 100px;
        //border: 5xp solid rgb(119, 0, 255) !important
        //box-shadow: 0px 5px 15px 1px rgb(220, 220, 220); 
    }
    .inputs {
        width: 100%;
        text-align: center;
        background: white !important;
    }
    .button-btn {
        color: #fff;
        background-color: #2a0961;
        box-shadow: 10px 15px 20px -15px #111; 
        border: 5xp solid #5600b8
    }
          @media only screen and (max-width: 414px) {
            .background{
                position: fixed;
                display: flex;
                flex-direction: column;
                width: 90%;
                height: 90%;
                background-color: rgba(255, 255, 255, 0.897)
            
            }
            .left{
                height: 100%;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.8);
                padding-top: 0%;
                z-index: 2;
            }
            .right{
                height: 100%;
                width: 100%;
                background-color: rgb(230, 230, 230);
                //background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../../assets/imgs/South-African-Parliament-AT-1030x691.jpg');
                //background-image: url('../../assets/imgs/South-African-Parliament-AT-1030x691.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 1;
                display: none;
            }
            #or{
                display: none
            }
            .logo{
                height: 25%;
                width: 40%;
                margin-top: 10%;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                display: block;
            }
            .logininputdiv{
                width: 100%; 
                margin: 0 auto;
             
            }
            .scroll-content {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                position: absolute;
                z-index: 1;
                display: block;
                overflow-x: hidden;
                overflow-y: hidden;
                -webkit-overflow-scrolling: touch;
                will-change: scroll-position;
                contain: size style layout;
            }
            .inputs{
                border-radius: 100px;
                box-shadow: 0px 15px 20px -15px #000; 
            }
            .list-ios > .item-block:first-child {
                 border-top: 0px solid #ffffff; 
            }
            .login{
                position: relative;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .signup{
                position: relative;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
                border-bottom-color : rgb(255, 255, 255); 
                -webkit-box-shadow: inset 0 -1px 0 0 rgb(255, 255, 255); 
                box-shadow: inset 0 -1px 0 0 rgb(255, 255, 255); 
            }
            .item-md.item-input.item-input-has-focus .item-inner, item-md.item-input.input-has-focus .item-inner{
               border-bottom-color : rgb(255, 255, 255); 
               -webkit-box-shadow: inset 0 -1px 0 0 rgb(255, 255, 255); 
               box-shadow: inset 0 -1px 0 0 rgb(255, 255, 255); 
               //height: 50vh !important;
            }
            // .scroll-content {
            //     left: 0;
            //     right: 0;
            //     top: 0;
            //     bottom: 0;
            //     position: absolute;
            //     z-index: 1;
            //     display: block;
            //     overflow-x: hidden;
            //     overflow-y: scroll;
            //     -webkit-overflow-scrolling: touch;
            //     will-change: scroll-position;
            //     contain: size style layout;
            // }
          }
    }