<ion-content>
  <div class="container">
    <!-- this is the side panel -->
    <div class="side-pane">
      <button ion-button clear id="ifSmall" class="float-right" color="light" (click)="showSidePane()">
        <ion-icon name="close"></ion-icon>
      </button>
      <div id="actions">
        <p text-center>Version 0.0.1</p>
        <!-- <p (click)="goToSettings()">Settings</p>
        <p (click)="logUserOut()">Logout</p> -->
        
      </div>
      
      <div class="cover-image">
        <!-- <img src="{{downloadurl}}" alt="" class="cover-image-cover"> -->
        <img src="{{downloadurlLogo}}" alt="" class="logo-image">
        <div class="editinfor">
            <ion-icon class="penedit" name="ios-create" (click)="goToSettings()"></ion-icon>
        </div>
      </div>
      <div class="buttons">
        <div class="org-name">
          <h4>{{name}}</h4>
        </div>
        <div id="about-org">

          <div id="misc">
            <div class="about-label">
              <b id="label">About</b>
            </div>
            <b>Address:</b> <br>
            {{address}}<br><br>
            <b>Phone:</b>
            <br>
            {{contact}} <br><br>
            <b>Email:</b> <br>
            {{email}}<br><br>
            <b>Description:</b> <br>
            <p>{{background}}</p>
          </div>
        </div>
        <div id="more" (click)="showMoreDetails()">
          <b>
            <ion-icon name="{{more}}"></ion-icon>
          </b>
        </div>
        <div class="btns">
          <div (click)="showMapPage()" id="btn1">Home</div>
          <div (click)="showServicesPage()" id="btn2">Services</div>
          <div (click)="showwifiPage()" id="btn4">WiFi Hotspot</div>
          <div (click)="showProgrammesPage()" id="btn3">Programmes</div>
          <div (click)="showJobsPage()" id="btn4">Job Opportunities</div>
          
        </div>
      </div>
    </div>
    <!-- this is the main view -->
    <div class="view-pane">
      <!-- top navigation pane -->
      <div class="nav-pane">
        <div class="left">
          <button id="ifSmall" ion-button clear color="light" (click)="showSidePane()">
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-searchbar placeholder="Search" (ionInput)="getItems($event)"></ion-searchbar>
          <div id="results">

            <ion-item no-lines *ngFor="let item of items; let i=index">
              <p>{{item}}</p>
            </ion-item>
          </div>
        </div>
        <div class="right">
          <div class="person-info" (click)="goToSettings()">
            <img src="{{downloadurlLogo}}" alt="" id="userimage">
            <div class="user-details">
              <p>{{name}}</p>
              <p id="subStatement">{{category}}</p>
            </div>
          </div>
        </div>
      </div>
      <div id="org-list-view">
        <div class="toggle-list" (click)="toggleOrgList()">
          <ion-icon name="{{toggleList}}"></ion-icon>
        </div>
        <div class="list-head">
          Fellow Organisations
        </div>
        <div class="list-view-cotainer">
          <div class="listed-item" *ngFor="let q of getOrgArry">
            <div>
              <img src="{{q.downloadurlLogo}}" alt="">
            </div>
            <div>
              <p><b>{{q.name}}</b></p>
              <p>{{q.category}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="switch-box">
        <div class="view" id="pg1">
            <div #map id="map"></div>
  
        </div>
        <!-- editservice -->
        <div class="view" id="pg2">
          <ion-fab bottom right (click)="add('Services')">
            <button ion-fab color="btn">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-fab>
          <div class="card-container" *ngFor="let i of servArray">
            <div class="card">
              <div class="image-image">
                <div class="action-buttons">
                  <button ion-button clear color="light">Hide</button>
                  <button ion-button clear color="light">Delete</button>
                  <button ion-button clear color="light" (click)='editservice()'>Edit</button>
                </div>
                <img src="{{i.img}}" alt="" class="image-actual">
              </div>
              <div class="more-details" id="pg1-cont">
                <div padding class="content-container">
                    <h2>Details</h2>
                  <div>

                    <p id="heading">{{i.serviceName}}</p>
                    <p id="sub-head">Description</p>
                    <p id="bg-desc">
                      {{i.desc}}
                    </p>
                    <p id="sub-head">Address</p>
                    <p id="bg-desc">{{i.address}}</p>
                    <p id="sub-head">Contact Details</p>
                    <p id="subSub-head">{{i.contacts}}</p>
                    <p id="bg-desc">0813917127</p>
                    <p id="subSub-head">Email</p>
                    <p id="bg-desc-email">{{i.email}}</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="view" id="pg3">
          <ion-fab bottom right (click)="add('Programmes')">
            <button ion-fab color="btn">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-fab>
          <div class="card-container">
            <div class="card" *ngFor="let i of displayOrg">
              <div class="image-image">
                <div class="action-buttons">
                  <button ion-button clear color="light">Hide</button>
                  <button ion-button clear color="light">Delete</button>
                  <button ion-button clear color="light" (click)='editprogram()'>Edit</button>
                </div>
                <img src="{{i.img}}" alt="" class="image-actual">
              </div>
              <div class="more-details">
                <div padding class="content-container">
                    <h2>Details</h2>
                    <div class="line"></div>
                  <div>
                    <p id="heading">{{i.name}}</p>
                    <p id="sub-head">Background</p>
                    <p id="bg-desc">
                      {{i.progBackround}}
                    </p>
                    <p id="sub-head">Address</p>
                    <p id="bg-desc">
                      {{i.address}}
                    </p>
                    <p id="sub-head">Description</p>
                    <p id="bg-desc">
                      {{i.desc}}
                    </p>
                  </div>
                  <div>
                      <h2>Application </h2>
                    <!-- <p id="sub-head">Dates</p> -->
                    <div class="dates">
                      <div class="open">
                        <p id="sub-head" class="theSub-head">Application Open Date</p>
                        <p id="bg-desc">{{i.openDate}}</p>
                      </div>
                      <div class="close">
                        <p id="sub-head" class="theSub-head">Application Close Date</p>
                        <p id="bg-desc">{{i.closeDate}}</p>
                      </div>
                    </div>
                    <h2>Programmes</h2>
                    <div class="dates">
                      <div class="open">
                        <p id="sub-head" class="theSub-head">Programme Start</p>
                        <p id="bg-desc">{{i.progStartDate}}</p>
                      </div>
                      <div class="close">
                        <p id="sub-head" class="theSub-head">Programme End</p>
                        <p id="bg-desc">{{i.progEndDate}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="view" id="pg4">
          <ion-fab bottom right (click)="add('Jobs')">
            <button ion-fab color="btn">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-fab>
          <div class="card-container" *ngFor="let i of jobsArry">
            <div class="card">
              <div class="image-image">
                <div class="action-buttons">
                  <button ion-button clear color="light">Hide</button>
                  <button ion-button clear color="light">Delete</button>
                  <button ion-button clear color="light" (click)='editjob()'>Edit</button>
                </div>
                <img src="{{i.img}}" alt="" class="image-actual">
              </div>
              <div class="more-details">
                <div padding class="content-container">
                    <h2>Details</h2>
                    <div class="line"></div>
                  <div>
                    <p id="heading">{{i.name}}</p>
                    <p id="sub-head">Background</p>
                    <p id="bg-desc">
                      {{i.benefits}}
                    </p>
                    <p id="sub-head">Address</p>
                    <p id="bg-desc">
                      {{i.address}}
                    </p>
                    <p id="sub-head">Description</p>
                    <p id="bg-desc">
                      {{i.desc}}
                    </p>
                  </div>
                  <div>
                    <p id="sub-head">Job Type</p>
                    <p id="bg-desc">{{i.contacts}}</p>
                    <!-- <p id="sub-head">Dates</p> -->
                    <h2>Application</h2>
                    <!-- <div class="line"></div> -->
                    <div class="dates">
                      <div class="open">
                        <p id="sub-head" class="theSub-head">Application Open Date</p>
                        <p id="bg-desc">{{i.openDate}}</p>
                      </div>
                      <div class="close">
                        <p id="sub-head" class="theSub-head">Application Close Date</p>
                        <p id="bg-desc">{{i.closeDate}}</p>
                      </div>
                    </div>
                    <h2>Programmes</h2>
                    <div class="dates">
                      <div class="open">
                        <p id="sub-head" class="theSub-head">Job Start Date</p>
                        <p id="bg-desc">{{i.jobStartdate}}</p>
                      </div>
                      <div class="close">
                        <p id="sub-head" class="theSub-head">Job End Date</p>
                        <p id="bg-desc">{{i.jobEndDate}}</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div id="container-overlay">
    <div class="toDismiss" (click)="cancelSettings()">

    </div>
    <div class="editing-data-inputs">
      <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="insertpic($event)" id="logoUpdate">
      <div id="theLogo-update">

        <label for="logoUpdate">
          <div>Logo</div>
          <img id="click-upload" src="{{downloadurlLogo}}" alt="">
        </label>
      </div>
      <div id="update-inputs">
        <p>Update organisation profile</p>
        <ion-input type="text" class="text-field" placeholder="Organisation Name" value="{{name}}" [(ngModel)]="name">
        </ion-input>
        <!-- <ion-input type="text" class="text-field" placeholder="Physical Address"  [(ngModel)]="address"></ion-input> -->
        <ion-input type="tel" class="text-field" placeholder="Phone" [(ngModel)]="contact"></ion-input>
        <ion-input type="email" class="text-field" placeholder="Email Address" [(ngModel)]="email" disabled></ion-input>
        <textarea name="" id="textarea-update" placeholder="Organisation Description" cols="30" rows="10"
          [(ngModel)]="background"></textarea>
        <div id="update-buttons">
          <button ion-button outline color="danger" (click)="cancelSettings()">Cancel</button>
          <button ion-button (click)="updateOrg()">Update</button>
        </div>
        <button ion-button block  color="secondary" (click)="cancelservice()">Logout</button>
      </div>
    </div>
  </div>
  


  <div id="program-overlay">
      <div class="toDismiss" (click)="cancelSettings()">
  
      </div>
      <div class="editing-data-inputs">
        <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="insertpic($event)" id="logoUpdate">
        <div id="theLogo-update">
  
          <label for="logoUpdate">
            <div>Logo</div>
            <img id="click-upload" src="{{downloadurlLogo}}" alt="">
          </label>
        </div>
        <div id="update-inputs">
          <p>Update organisation profile</p>
          <ion-input type="text" class="text-field" placeholder="Background" value="{{name}}" [(ngModel)]="name">
          </ion-input>
          <!-- <ion-input type="text" class="text-field" placeholder="Physical Address"  [(ngModel)]="address"></ion-input> -->
          <ion-input type="tel" class="text-field" placeholder="Address" [(ngModel)]="contact"></ion-input>

          <ion-grid>
          <ion-row>
              
              <ion-row col-12>
                  <p text-center>Application</p>
              </ion-row>
              <ion-col col-6>
               
                  <ion-item>
                      <ion-label>Start </ion-label>
                      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
                    </ion-item>
              </ion-col>
              <ion-col col-6>
                  <ion-item>
                      <ion-label>End</ion-label>
                      <ion-datetime text-center displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
                    </ion-item>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-row col-12>
                  <p>Program</p>
              </ion-row>
             
              <ion-col col-6>
                  <ion-item>
                      <ion-label>Start</ion-label>
                      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
                    </ion-item>
              </ion-col>
              <ion-col col-6>
                  <ion-item>
                      <ion-label>End</ion-label>
                      <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
                    </ion-item>
              </ion-col>
          </ion-row>
          </ion-grid>
        
          <!-- <ion-input type="email" class="text-field" placeholder="Email Address" [(ngModel)]="email" disabled></ion-input> -->
          <textarea name="" id="textarea-update" placeholder="Organisation Description" cols="30" rows="5"
            [(ngModel)]="background"></textarea>
       
          <div id="update-buttons">
            <button ion-button outline color="danger" (click)="cancelprogramm()">Cancel</button>
            <button ion-button (click)="updateOrg()">Update</button>
          </div>
        </div>
      </div>
    </div>


    <div id="service-overlay">
        <div class="toDismiss" (click)="cancelSettings()">
    
        </div>
        <div class="editing-data-inputs">
          <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="insertpic($event)" id="logoUpdate">
          <div id="theLogo-update">
    
            <label for="logoUpdate">
              <div>Logo</div>
              <img id="click-upload" src="{{downloadurlLogo}}" alt="">
            </label>
          </div>
          <div id="update-inputs">
            <p>Update organisation service</p>
            <!-- <ion-input type="text" class="text-field" placeholder="Background" value="{{name}}" [(ngModel)]="name">
            </ion-input> -->
            <ion-input type="text" class="text-field" placeholder="Physical Address"  [(ngModel)]="address"></ion-input>
            <ion-input type="tel" class="text-field" placeholder="contact details" [(ngModel)]="contact"></ion-input>
            <ion-input type="email" class="text-field" placeholder="Email Address" [(ngModel)]="email" disabled></ion-input>
            <textarea name="" id="textarea-update" placeholder="Organisation Description" cols="30" rows="10"
              [(ngModel)]="background"></textarea>
            <div id="update-buttons">
              <button ion-button outline color="danger" (click)="cancelservice()">Cancel</button>
              <button ion-button (click)="updateOrg()">Update</button>
              
            </div>
            
          </div>
        </div>
      </div>


      <div id="job-overlay">
          <div class="toDismiss" (click)="cancelSettings()">
  
            </div>
            <div class="editing-data-inputs">
              <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="insertpic($event)" id="logoUpdate">
              <div id="theLogo-update">
        
                <label for="logoUpdate">
                  <div>Logo</div>
                  <img id="click-upload" src="{{downloadurlLogo}}" alt="">
                </label>
              </div>
              <div id="update-inputs">
                <p>Update organisation Jobs</p>
                <ion-input type="text" class="text-field" placeholder="Background" value="{{name}}" [(ngModel)]="name">
                </ion-input>
                <ion-input type="text" class="text-field" placeholder="Job type"  [(ngModel)]="address"></ion-input>
                <ion-input type="tel" class="text-field" placeholder="Address" [(ngModel)]="contact"></ion-input>
      
                <ion-grid>
                <ion-row>
                    
                    <ion-row col-12>
                        <p text-center>Application</p>
                    </ion-row>
                    <ion-col col-6>
                     
                        <ion-item>
                            <ion-label>Start </ion-label>
                            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
                          </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label>End</ion-label>
                            <ion-datetime text-center displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
                          </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-row col-12>
                        <p>Program</p>
                    </ion-row>
                   
                    <ion-col col-6>
                        <ion-item>
                            <ion-label>Start</ion-label>
                            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
                          </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item>
                            <ion-label>End</ion-label>
                            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
                          </ion-item>
                    </ion-col>
                </ion-row>
                </ion-grid>
              
                <!-- <ion-input type="email" class="text-field" placeholder="Email Address" [(ngModel)]="email" disabled></ion-input> -->
                <textarea name="" id="textarea-update" placeholder="Organisation Description" cols="30" rows="5"
                  [(ngModel)]="background"></textarea>
             
                <div id="update-buttons">
                  <button ion-button outline color="danger" (click)="canceljob()">Cancel</button>
                  <button ion-button (click)="updateOrg()">Update</button>
                </div>
              </div>
            </div>
          </div> 
</ion-content>