<ion-content>
  <!-- <div class="overlay" id="getStarted1">
    <h5>Click Get Started to finish registration</h5>
    <button id="getStarted" ion-button (click)="getStarted()">
      Get Started
    </button>
  </div> -->
  <div class="theBody">
    <div class="left">
      <div class="box">
        <div class="step1" padding>
          <div class="logo-container">
            <div id="logoBG"></div>
          </div>
          <br>
          <br>
          <p>
            Kindly fill in the following details and please dont leave out anything.
          </p>
        </div>
        <div class="step2">
          <div class="slide-custom">
            <div class="dots">
              <div id="theDot"></div>
            </div>
            <div class="theSlider">
              <div class="slideShow" id="page1">
                <p>Kindly fill in your communication details and please dont leave out anything.</p>
                <input type="text" class="inputText" placeholder="Name" [(ngModel)]="orgName" required>
                <input type="text" class="inputText" placeholder="Address" [(ngModel)]="orgAdress"
                  (change)="setAddress()">
                <input type="tel" class="inputText" placeholder="Phone"
                  onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" [(ngModel)]="orgPhone">
                <input type="url" class="inputText" id="web" placeholder="Website" [(ngModel)]="orgWebsite">
                <br>
                <textarea name="" id="orgDesc"  maxLength="250" placeholder="Organisation Description" cols="4"
                  [(ngModel)]="orgDescription"></textarea>
                <br>
                <button ion-button id="movetopage2" class="theButton" (click)="moveToPage2()">NEXT</button>
              </div>
              <div class="slideShow" id="page2">
                <p>Does the organisation have WiFi</p>
                <select class="select-css" [(ngModel)]="offerWifi" (change)="checkWifi()">
                  <option value="Do you offer WiFi" disabled>Do you offer WiFi?</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
                <br>
                <div *ngIf="ShowWifi">
                  <p>Is it free?</p>
                  <select class="select-css" [(ngModel)]="wifi" (change)="checkWifipayment()">
                    <option value="Is it free?" disabled>Is it free?</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                  </select>
                  <br>
                  <div *ngIf="ShowChooseRange">
                    <p>What is your pricing?</p>
                    <select class="select-css" [(ngModel)]="chooseWifiRange">
                      <option value="Choose Range" disabled>Choose Range</option>
                      <option value="200MB Free">200MB Free</option>
                      <option value="1GB Free">1GB Free</option>
                      <option value="2GB Free">2GB Free</option>
                      <option value="Unlimited">Unlimited</option>
                    </select>
                  </div>
                </div>
                <button ion-button id="movetopage2" class="theButton" (click)="moveToPage3()">NEXT</button>
                <button ion-button class="theButtonBack" (click)="backToPage1()">BACK</button>
              </div>
              <div class="slideShow" id="page3" id="page3Org">
                <p>Almost there, please provide a category for the organisation.</p>
                <select class="select-css" [(ngModel)]="category">
                  <option value="Do you offer WiFi" disabled> Choose category </option>
                  <option value="Higher Education Institution">Higher Education Institution </option>
                  <option value="Library">Library</option>
                  <option value="Learning Center">Learning Center</option>
                  <option value="InterCafe">InterCafe</option>
                  <option value="Mall">Mall</option>
                  <option value="Coffee Shop">Coffee Shop</option>
                </select>
                <div>
                </div>
                <br>
                <textarea name="" id="orgDesc" placeholder="Provide clarity if any" cols="4"
                  [(ngModel)]="CatDesc" maxLength="250"></textarea>
                <button ion-button id="movetopage2" class="theButton" (click)="moveToPage4()">NEXT</button>
                <button ion-button class="theButtonBack" (click)="backToPage2()">BACK</button>
              </div>
              <div class="slideShow" id="page4">
                <div class="confirm">
                  <p>
                    Please confirm all the information you have inserted on the form, if everything is correct, please
                    click "Done" to continue.</p>
                  <div class="description" padding>
                    <h3>{{orgName}}</h3>
                    <p>
                      <b>Address</b>
                      <br> {{orgAdress}}</p>
                    <p>
                      <b>Tel:</b> {{orgPhone}}</p>
                    <p>
                      <b>Website:</b> {{orgWebsite}}</p>
                    <p>
                      <b>Description</b>
                      <br> {{orgDescription}}</p>
                    <p>
                      <b>WiFi Connectivity:</b> {{offerWifi}}</p>
                    <p>
                      <b>Free WiFi:</b> {{wifi}}</p>
                    <p>
                      <b>WiFi Range:</b> {{chooseWifiRange}}</p>
                    <p>
                      <b>Business Category:</b> {{category}}</p>
                      <p>
                        <b>Cat Description:</b> {{CatDesc}}</p>
                      
                  </div>
                  <!-- <b>Selected Services</b>
                  <div *ngFor="let a of catService ">
                    {{a.title}}
                  </div> -->
                </div>
                <button ion-button class="theButton" id="movetopage2" (click)="saveToDB()">Done</button>
                <button ion-button class="theButtonBack" (click)="backToPage3()">BACK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>