page-add-organization {
  .everything {
    width: 100%;
    height: 100%;
    background-image: white;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .content-container {
    transition-duration: 700ms;
    transition-delay: 300ms;
    width: 60%;
    height: 80%;
    background: white;
    overflow: hidden;
    border-radius: 15px;
    // position  : absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
  }

  #boxA {
    width: 1500px;
    height: 1500px;
    transform: rotateZ(45deg);
    background: rgb(0, 100, 172);
    margin: 10px;
    position: absolute;
    right: -50%;
    top: -10px;
    border-radius: 100px;
  }

  #boxB {
    background: rgba(64, 137, 189, 0.432);
    width: 1500px;
    height: 1500px;
    margin-left: -100px;
  }

  .left-tab {
    width: 25%;
    height: 100%;
    background: whitesmoke;
    position: relative;
  }

  .right-tab {
    width: 75%;
    height: 100%;
    background: rgb(228, 228, 228);
    position: relative;
    overflow: hidden;
  }

  @media screen and (max-width: 800px) {
    .left-tab {
      display: none;
    }

    .right-tab {
      width: 100%;
    }

    #bar {
      width: 60px;
      height: 10px;
      border: 1px solid rgb(0, 100, 172);
      border-radius: 10px;
      position: absolute;
      background: white;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
    }

    .content-container {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
  @media screen and (max-height: 670px) {
    .content-container {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }

  textarea {
    resize: none;
  }

  #placeholder {
    background: pink;
    display: none;
  }

  #Programmes {
    background: peachpuff;
    position: relative;
    display: none;
  }

  #Jobs {
    background: green;
    position: relative;
    display: none;
  }

  #Services {
    background: teal;
    position: relative;
    display: none;
  }

  .about-wifi {
    p {
      font-size: 2rem;
    }
  }

  #Wifi {
    background: blue;
    position: relative;
    display: none;
  }

  .view {
    width: 400%;
    height: 100%;
    display: flex;
    transition: 300ms;
  }

  // .pages{
  //     width : 400%;
  //     height: 100%;
  // }

  .Contacts {
    width: calc(80% + 10px);
    margin: 10px auto;
    display: flex;

    // border: 1px solid red;
    #input-field {
      margin: 5px;
      width: 50% !important;
    }
  }

  #instruction {
    //   font
  }

  .instructions {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    p {
      font-size: 20px;
      font-weight: bolder;
    }
  }

  #cover-image,
  #logo-image {
    display: none;
  }

  #coverImage {
    width: 100%;
    // border: 2px solid green;
    height: 250px;
  }

  #uploadPage {
    position: relative;

    //   border: 2px solid red;
    #coverImage {
      width: 100%;
      height: 100%;

      #myImgCover {
        width: 100% !important;
        height: 250px;
      }
    }
  }

  #coverImage img {
    width: 100%;
    height: 250px !important;
    object-fit: cover;
  }

  #logoImage {
    transition: 700ms;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    position: relative;
    overflow: hidden;
  }

  #myCover {
    width: 100%;
    height: 250px;
    position: relative;
  }

  #myCover:hover {
    cursor: pointer;

    .myLabel {
      opacity: 1;
    }
  }

  #myLogo {
    width: 80px;
    height: 80px;
    margin: 5px;
    top: 200px;
    position: absolute;
    z-index: 1000000;
  }

  #myLogo:hover {
    cursor: pointer;
    .myLabel2 {
      opacity: 1;
    }
  }

  .myLabel2 {
    color: white;
    text-align: center;
    transition: 300ms;
    background: rgba(0, 0, 0, 0.336);
    width: 80px;
    border-radius: 80px;
    height: 80px;
    position: absolute;
    line-height: 80px;
    opacity: 0;
    z-index: 100;
  }

  .myLabel {
    color: white;
    transition: 300ms;
    background: rgba(0, 0, 0, 0.336);
    width: 100%;
    height: 250px;
    text-align: center;
    position: absolute;
    line-height: 250px;
    opacity: 0;
    z-index: 100;
  }

  #myLogo img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    // margin-left: 0;
    border-radius: 80px;
    :hover {
      filter: broghtness(50%);
    }
  }

  .images-container {
    text-align: left;
    width: 100%;
    position: relative;
    // height : 250px;
  }

  #myCover img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  #logoImage img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    object-fit: contain;
  }

  #coverImage img {
    width: 100%;
    // height : 50px;
    object-fit: cover;
    z-index: 1;
  }

  .view > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 25%;
    height: 100%;
  }

  .view > div:nth-child(1) {
    background: white;
    width: 25%;
    // border      : 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 10px;
    width: 25%;
    height: 100%;
    // display     : none;
  }

  .view > div:nth-child(2) {
    background: white;
    padding: 10px;
    // border      : 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 25%;
    height: 100%;
    // display     : none;
  }

  .view > div:nth-child(3) {
    padding: 10px;
    background: white;
    // border      : 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 25%;
    height: 100%;
    // display     : none;
  }

  .view > div:nth-child(4) {
    padding: 10px;
    background: white;
    // border      : 2px solid plum;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 25%;
    height: 100%;
    // display     : none;
  }

  .pageProgrammes {
    // width       : 25%;
    transition: 300ms;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pageJobs {
    transition: 300ms;
    width: 25%;
    height: 100%;
    position: relative;
  }

  .pageServices {
    transition: 300ms;
    width: 25%;
    height: 100%;
    position: relative;
  }

  .pageWifi {
    transition: 300ms;
    width: 25%;
    height: 100%;
    position: relative;
  }

  #bar {
    width: 300px;
    height: 10px;
    border: 1px solid rgb(0, 100, 172);
    border-radius: 10px;
    position: absolute;
    background: white;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }

  #barSlide {
    width: 25%;
    height: 100%;
    background: rgb(0, 100, 172);
    transition: 300ms;
  }

  .programme-options {
    border: 1px solid black;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
  }

  .inputs {
    width: 100%;
    height: 70%;
    // height       : 100%;
    // padding      : 10px;
    text-align: center;
    position: relative;
    overflow-y: scroll;
    // background   : red;
    // border       : 2px solid black;
    // margin-top   : 50%;
    // transform    : translateY(-40%);
  }
  #input-field {
    border: 1px solid black;
    width: 80%;
    height: 50px;
    margin: 10px auto;
    border-radius: 10px;
    background: white;
    padding-left: 5px !important;
  }

  #text-field {
    border: 1px solid black;
    height: 90px;
    width: 80%;
    padding: 5px;
    resize: none;
    margin-top: 15px;
    border-radius: 10px;
  }

  ion-select {
    margin: 0;
  }

  .buttons {
    width: 100%;
    height: 70px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.144));
    // position   : relative;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    left: 0;
    z-index: 10;
  }

  #forward {
    //   float  : right;
    margin: 20px;
    width: 130px;
    position: absolute;
    right: 0px;
    //   z-index: inherit;
  }

  #backward {
    margin: 20px;
    width: 130px;
  }

  .infor-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bg {
    width: 50%;
    margin: 0 auto;
    height: 150px;
    // border          : 1px solid black;
    background: url("../../assets/imgs/4IR\ logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .statement {
    padding: 10px;
    text-align: center;
  }

  #coverImage {
    position: relative;
    transition: 700ms;
  }
  #coverImage:hover,
  #logoImage:hover {
    filter: brightness(50%);
    cursor: pointer;
  }

  #confirm-logo,
  #confirm-logo img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    object-fit: cover;
  }

  #confirm-cover {
    width: 100%;
    // border: 2px solid;
    height: 200px;
  }

  #confirm-cover img,
  #confirm-logo img {
    text-align: center;
  }

  #confirm-cover img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  #confirm-logo img {
    width: 80px;
    object-fit: cover;
  }
  #confirm-logo {
    // border: 2px solid red;
    position: absolute !important;
    top: 200px;
    left: 5px;
  }
  .scroll-content{
    overflow: hidden;
  }
}
