<ion-content>
  <div class="everything">
    <div class="content-container">
      <div class="left-tab">
        <div class="infor-left">
          <div class="bg"></div>
          <div class="statement">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore blanditiis reiciendis porro nulla soluta
            vero iure eum, itaque.
          </div>
        </div>
      </div>
      <div class="right-tab">
        <ion-fab top right>
          <button ion-fab mini (click)="goBack()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-fab>
        <div id="bar">
          <div id="barSlide"></div>
        </div>
        <div class="view" id="placeholder">

        </div>
        <div *ngIf="Programmes">
        <h1>Programmes</h1>
        </div>
        <div class="view" id="Programmes">
          <div class="pageProgrammes">
            <div class="buttons">
              <button id="forward" ion-button (click)="toPage2Progs()">Next</button>
            </div>
            <div class="inputs">
              Please complete the form to continue
              <br>
              <input type="text" id="input-field" [(ngModel)]="progName" placeholder="Programme Name">
              <br>
              <ion-list class="programme-options">
                <ion-item>
                  <ion-label>Programme Type</ion-label>
                  <ion-select [(ngModel)]="progOptions">
                    <ion-option value="nes">Learnership</ion-option>
                    <ion-option value="n64">Internship</ion-option>
                    <ion-option value="ps">Skills Development</ion-option>
                    <ion-option value="genesis">Training</ion-option>
                    <ion-option value="saturn">Bootcamp</ion-option>
                    <ion-option value="snes">Apprenticeship</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>
              <textarea name="" id="text-field" cols="30" [(ngModel)]="progbackground" rows="10"
                placeholder="Programme Background"></textarea>
              <textarea name="" id="text-field" cols="30" rows="10" [(ngModel)]="progDescription" placeholder="Programme Description"></textarea>
            </div>
          </div>
          <div class="pageProgrammes">
            <div class="buttons">
              <button id="backward" ion-button (click)="backToPage1Progs()">Back</button>
              <button id="forward" ion-button (click)="toPage3Progs()">Next</button>
            </div>
            <div class="inputs">
              Please complete the form to continue
              <br>
              <textarea name="" id="text-field" cols="30" rows="10" [(ngModel)]="progBenfits" placeholder="Benefits"></textarea>
              <input type="text" id="input-field" placeholder="Address" [(ngModel)]="progAddress"  (change)="setAddress()">
              <div class="Contacts">
                <input type="tel" id="input-field" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"  placeholder="Phone" [(ngModel)]="progPhone"> 
                <input type="text" id="input-field" placeholder="Email" [(ngModel)]="progEmail"> 
              </div>
            </div>
          </div>
          <div class="pageProgrammes">
            <div class="buttons">
              <button id="backward" ion-button (click)="backToPage2Progs()">Back</button>
              <button id="forward" ion-button (click)="toPage4Progs()">Next</button>
            </div>
            <div class="inputs">
              Please complete the form to continue
              <br>
              <div class="Dates">
                <h5>Applications</h5>
                <p>Please enter the dates for the applications.</p>

                <div class="Contacts">
                  <input type="date" id="input-field" [(ngModel)]="progApplicationOpen"> 
                  <input type="date" id="input-field" [(ngModel)]="progApplicationClose"> 
                </div>
              </div>

              <div class="Dates">
                <h5>Programme</h5>
                <p>Please enter the dates for the commencement and ending of the programme.</p>
                <div class="Contacts">
                  <input type="date" id="input-field" [(ngModel)]="progStartDate"> 
                  <input type="date" id="input-field" [(ngModel)]="progEndDate"> 
                </div>
              </div>
              <div class="Contacts">
                <input type="url" id="input-field" placeholder="Website link to online application" [(ngModel)]="progLink"> 
              </div>
            </div>
          </div>
          <div class="pageProgrammes">
            <div class="buttons">
              <button id="backward" ion-button (click)="backToPage3Progs()">Back</button>
              <button id="forward" ion-button (click)="addProg()">Done</button>
            </div>

            <input type="file" accept="image/x-png,image/gif,image/jpeg" id="cover-image" (change)="insertpic($event)">
            <input type="file" accept="image/x-png,image/gif,image/jpeg" id="logo-image" (change)="insertpic2($event)">
            <div class="inputs">c
              <label for="cover-image" id="coverImage">
                <img src="{{downloadurl}}" alt="">
              </label>
              <label for="logo-image" id="logoImage">
                <img src="{{downloadurl2}}" alt="">
              </label>
            </div>
          </div>
        </div>
        
        <div class="view" id="Jobs">
          <div class="pageJobs">
            <div class="buttons">
              <button id="forward" ion-button (click)="toPage2Jobs()">Next</button>
            </div>
            <div class="instructions">
              <p>Please fill in the form to add a job requirement</p>
            </div>
            <div class="inputs">
              <input type="text" [(ngModel)]="jobName" id="input-field" placeholder="Job Name"> <br>
              <b>Applications</b>
              <div class="Contacts">
                <input type="date" [(ngModel)]="odate" id="input-field" placeholder="Application Open Date"> 
                <input type="date"  [(ngModel)]="cdate"id="input-field" placeholder="Application Close Date"> 
              </div>
              <ion-list class="programme-options">
                <ion-item>
                  <ion-label>Job Type</ion-label>
                  <ion-select [(ngModel)]="jobType">
                    <ion-option value="Part-time">Part-time</ion-option>
                    <ion-option value="Full-time">Full-time</ion-option>
                    <ion-option value="Contract">Contract</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </div>
          </div>
          <div class="pageJobs">
            <div class="buttons">
              <button id="backward" ion-button (click)="backToPage1Jobs()">Back</button>
              <button id="forward" ion-button (click)="toPage3Jobs()">Next</button>
            </div>
            <div class="inputs">
              <textarea name="" [(ngModel)]="req" id="text-field" cols="30" rows="10" placeholder="Requirements"></textarea>
              <textarea name=""  [(ngModel)]="res" id="text-field" cols="30" rows="10" placeholder="Responsibilities"></textarea>
              <input type="text" [(ngModel)]="jobAddress" id="input-field" placeholder="Address" (change)="setAddressJobs()"> 
              <input type="tel"  id="input-field"  onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"  placeholder="Phone" [(ngModel)]="cell"> 
              <input type="email" [(ngModel)]="mail" id="input-field" placeholder="Email"> 
            </div>
          </div>
          <div class="pageJobs">
            <div class="buttons">
              <button id="backward" ion-button (click)="backToPage2Jobs()">Back</button>
              <button id="forward" ion-button (click)="toPage4Jobs()">Next</button>
            </div>
            <div class="inputs">
              <!-- User clicks here to upload logo and cover for Jobs -->
              <input type="file" accept="image/x-png,image/gif,image/jpeg" id="logo-image" (change)="insertpic($event)">
              <input type="file" accept="image/x-png,image/gif,image/jpeg" id="cover-image" (change)="insertpic2($event)">
              <div class="instructions">
                <p>Please choose a cover photo and a logo (if any).
                </p>
              </div>
              <div class="images-container">
                <label for="cover-image" id="myCover">
                  <div class="myLabel">
                    <!-- Upload cover image -->
                  </div>
                  <img src="{{downloadurl}}" alt="">
                </label>
                <label for="logo-image" id="myLogo">
                  <!-- <div class="myLabel2">
                    Logo
                  </div> -->
                  <img src="{{downloadurl2}}" alt="">
                </label>
              </div>
              <!-- <label for="cover-image" id="coverImage">
                <img src="../../assets/imgs/South-African-Parliament-AT-1030x691.jpg" alt="">
              </label><br>
              <label for="logo-image" id="logoImage">
                <img src="../../assets/imgs/South-African-Parliament-AT-1030x691.jpg" alt="">
              </label> -->
              <div class="instructions">
                <p> add a link to the online application form</p>
              </div>
              <input type="text" id="input-field" [(ngModel)]="link" placeholder="Link to online application form"> 
            </div>
          </div>
          <div class="pageJobs">
            <div class="buttons">
              <button id="backward" ion-button (click)="backToPage3Jobs()">Back</button>
              <button id="forward" ion-button (click)="addJob()">done</button>
            </div>
            <div class="inputs">
              <p>Please confirm your details then click DONE to continue.</p>
              <div id="confirm-cover">
                <img src="{{downloadurl}}" alt="">
              </div>
              <div id="confirm-logo">
                <img src="{{downloadurl2}}" alt="">
              </div>
              <p><b>Job Name:</b>{{jobName}}</p>
              <p><b>Employment Type:</b> {{jobType}}</p>
              <p><b>Applications Open:</b>{{odate}}</p>
              <p><b>Applications Close: </b> {{cdate}}</p>
              <p><b>Requirements:</b><br>
                {{req}}</p>
              <p><b>Responsibilities:</b><br>
               {{res}}</p>
              <p><b>Address:</b><br>
                {{jobAddress}}</p>
              <p><b>Contact Details:</b><br>
                <b>Email:</b> {{mail}}<br>
                <b>Phone:</b>{{cell}}
              </p>
              <p><b>Application Link:</b>
                <a href="google.com">{{link}}</a></p>
            </div>
          </div>
        </div>
        <div class="view" id="Services">
          <div class="pageServices">
            <div class="buttons">
              <button id="forward" ion-button (click)="toPage2Services()">Next</button>
            </div>
            <div class="inputs">
              Please complete the form to continue
              <br>
              <input type="text" id="input-field" [(ngModel)]="sname" placeholder="Service Name"> 
              <br>
              <textarea name="" id="text-field" cols="30" [(ngModel)]="sabout"  rows="10" placeholder="About Service"></textarea>
            </div>
          </div>
          <div class="pageServices">
            <div class="buttons">
              <button id="backward" ion-button (click)="backToPage1Services()">Back</button>
              <button id="forward" ion-button (click)="toPage3Services()">Next</button>
            </div>
            <div class="inputs">
              Please complete your contact details to continue
              <br>
              <input type="text" id="input-field" [(ngModel)]="sadd" placeholder="Address" (change)="setAddressservices()"> 
              <div class="contacts">
                <input type="email" id="input-field" [(ngModel)]="semail" placeholder="Email"> 
                <input type="number" id="input-field"   onkeyup="this.value=this.value.replace(/[^0-9]/g,'');"  placeholder="Phone"    [(ngModel)]="sphone"> 
              </div>
            </div>
          </div>
          <div class="pageServices">
            <div class="buttons">
              <button id="backward" ion-button (click)="backToPage2Services()">Back</button>
              <button id="forward" ion-button (click)="toPage4Services()">Next</button>
            </div>
            <div class="inputs">
              <h4>Graphical Content</h4>
              <!-- User clicks here to upload logo and cover for Jobs -->
              <input type="file" accept="image/x-png,image/gif,image/jpeg"   id="logo-image" (change)="insertpic($event)">
              <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="insertpic($event)" id="cover-image">
              <div id="uploadPage">

                <div class="images-container">
                  <label for="cover-image" id="myCover">
                    <div class="myLabel">
                      <!-- Upload cover image -->
                    </div>
                    <img src="{{downloadurl}}" alt="">
                  </label>
                  <label for="logo-image" id="myLogo">
                    <div class="myLabel2">
                      <!-- Logo -->
                    </div>
                    <img src="{{downloadurl2}}" alt="">
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="pageServices">
            <div class="buttons">
              <button id="backward" ion-button (click)="backToPage3Services()">Back</button>
              <button id="forward" ion-button  (click)="adds()">Done</button>
            </div>
            <div class="inputs">
              <p>Please confirm your details then click DONE</p>
              <div id="confirm-cover">
                <img src="{{downloadurl}}" alt="">
              </div>
              <div id="confirm-logo">
                <img src="{{downloadurl2}}" alt="">
              </div>
              
              <p><b>Service Name:</b> {{sname}}</p>
              <p><b>Description:</b><br>
             {{sabout}}
              </p>
              <p><b>Address: </b>
               {{sadd}}
              </p>
              <p><b>Contact Details:</b><br>
                <b>Email: </b> {{semail}} <br>
                <b>Phone: </b> {{sphone}}
              </p>
            </div>
          </div>
        </div>
        <div class="view" id="Wifi">
          <div class="pageWifi" id="page1Wifi">
              <ion-icon class="wifi" name="ios-wifi" ></ion-icon>
            <div class="buttons">
              <button id="forward" ion-button (click)="toPage2WiFi()">Next</button>
            </div>
            <div class="inputs">
              
              <ion-list class="programme-options">
                <ion-item>
                  <ion-label>Do you offer WiFi</ion-label>
                  <ion-select [(ngModel)]="WiFiAvailability" (ionChange)="togglePrice()">
                    <ion-option value="Yes">Yes</ion-option>
                    <ion-option value="No">No</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>
              <h1>{{showtext}}</h1>
              
            </div>
          </div>
          <div class="pageWifi" id="page2Wifi">
              <ion-icon class="wifi" name="ios-wifi" ></ion-icon>
            <div class="buttons">
              <button id="backward" ion-button (click)="backToPage1WiFi()">Back</button>
              <button id="forward" ion-button (click)="toPage3WiFi()">Next</button>
            </div>
            <div class="inputs" *ngIf="showChargeWiFi">
              
              <ion-list class="programme-options">
                <ion-item>
                  <ion-label>Is it free or paid</ion-label>
                  <ion-select [(ngModel)]="freeOrPaidWiFi" (ionChange)="togglePayment()">
                    <ion-option value="Free">Free</ion-option>
                    <ion-option value="Paid">Paid</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>
              <h1>{{showtext}}</h1>
             
            </div>
          </div>
          <div class="pageWifi" id="page3Wifi">
            <div class="buttons">
              <button id="backward" ion-button (click)="backToPage2WiFi()">Back</button>
              <button id="forward" ion-button (click)="toPage4WiFi()">Next</button>
            </div>
            <div class="inputs" *ngIf="showPricing">
                <ion-icon class="wifi" name="ios-wifi" ></ion-icon>
              <ion-list class="programme-options">
                <ion-item>
                  <ion-label>Select data range</ion-label>
                  <ion-select [(ngModel)]="priceWiFi" (ionChange)="toggleRange()">
                    <ion-option value="1GB">1GB</ion-option>
                    <ion-option value="2GB">2GB</ion-option>
                    <ion-option value="5GB">5GB</ion-option>
                    <ion-option value="Unlimited">Unlimited</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>
              <h1>{{showtext}}</h1>
            </div>
          </div>
          <div class="pageWifi" id="page4Wifi">
            <div class="buttons">
              <button id="backward" ion-button (click)="backToPage3WiFi()">Back</button>
              <button id="forward" ion-button (click)="addwifi()">Done</button>
            </div>
            <div class="inputs">
              
              <div class="about-wifi">
                <p><b>WiFi Availability: </b> {{WiFiAvailability}}
                </p>
                <p><b>Pricing: </b> {{freeOrPaidWiFi}}</p>
                <p><b>Range: </b> {{priceWiFi}}</p>
              </div>
              <ion-icon class="wifi" name="ios-wifi" ></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>